libfontenc
mkfontscale
font-opensans
hicolor-icon-theme
gtk-update-icon-cache
libxcomposite
libxfixes
libxcursor
libxdamage
libxi
libxinerama
libxrandr
libatk-1.0
libxtst
dbus-libs
at-spi2-core
libatk-bridge-2.0
avahi-libs
nettle
p11-kit
libtasn1
gnutls
cups-libs
libepoxy
wayland-libs-client
wayland-libs-cursor
wayland-libs-egl
xkeyboard-config
libxkbcommon
gtk+3.0
icu-data-full
mesa
llvm15-libs
hwdata-pci
libpciaccess
libdrm
musl-fts
libelf
mesa-glapi
mesa-dri-gallium
eudev-libs
libice
libsm
libxt
libxmu
xset
xprop
xdg-utils
libogg
flac-libs
alsa-lib
svt-av1-libs
aom-libs
libva
libvdpau
onevpl-libs
ffmpeg-libavutil
libdav1d
libhwy
libjxl
lame-libs
opus
soxr
ffmpeg-libswresample
libtheora
libvorbis
libvpx
x264-libs
numactl
x265-libs
xvidcore
ffmpeg-libavcodec
libbluray
mpg123-libs
libopenmpt
cjson
mbedtls
librist
libsrt
libssh
libsodium
libzmq
ffmpeg-libavformat
libevent
wayland-libs-server
mesa-gbm
jsoncpp
minizip
nspr
nss
pipewire-libs
libasyncns
libltdl
libsndfile
speexdsp
tdb-libs
libpulse
re2
snappy
libwoff2common
libwoff2enc
vips-jxl
